[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
sickle = "*"
smart-open = {extras = ["s3"], version = "*"}
sentry-sdk = "*"

[dev-packages]
bandit = "*"
coverage = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
vcrpy = "*"

[requires]
python_version = "3.11"

[scripts]
oai = "python -c \"from harvester.cli import main; main()\""
