[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
sentry-sdk = "*"
sickle = "*"
smart-open = {extras = ["s3"], version = "*"}
urllib3 = "==1.26.18"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
vcrpy = "==4.2.1"

[requires]
python_version = "3.11"

[scripts]
oai = "python -c \"from harvester.cli import main; main()\""
