[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
sentry-sdk = "*"
sickle = "*"
smart-open = {extras = ["s3"], version = "*"}
urllib3 = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
safety = "*"
types-requests = "*"
vcrpy = "*"
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
oai = "python -c \"from harvester.cli import main; main()\""
