interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F152958&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-08-21T17:16:24Z</responseDate><request
        verb=\"GetRecord\" identifier=\"oai:dspace.mit.edu:1721.1/152958\" metadataPrefix=\"oai_dc\">https://dspace.mit.edu//oai/request</request><GetRecord><record><header><identifier>oai:dspace.mit.edu:1721.1/152958</identifier><datestamp>2023-11-14T04:00:09Z</datestamp><setSpec>com_1721.1_7582</setSpec><setSpec>hdl_1721.1_7582</setSpec><setSpec>com_1721.1_7581</setSpec><setSpec>hdl_1721.1_7581</setSpec><setSpec>col_1721.1_131022</setSpec><setSpec>hdl_1721.1_131022</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \  <dc:title>Studying Electronic Textures with Coherent Lensless Imaging</dc:title>\n
        \  <dc:creator>Levitan, Abraham Lewis</dc:creator>\n   <dc:contributor>Comin,
        Riccardo</dc:contributor>\n   <dc:contributor>Massachusetts Institute of Technology.
        Department of Physics</dc:contributor>\n   <dc:description>X-ray microscopes
        have opened our collective eyes to the richness of nanoscale texture in systems
        such as correlated and quantum materials. These microscopes draw their power
        from the combination of short wavelengths, which provide high resolution,
        and interaction with atomic resonances, which makes them sensitive to subtle
        changes in electronic structure. However, x-ray microscopy remains an area
        where the main limits are technological rather than[...]
[...]
