interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?metadataPrefix=oai_dc&from=2022-03-01&until=2022-03-01&verb=ListIdentifiers
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-08-21T17:16:23Z</responseDate><request
        verb="ListIdentifiers" metadataPrefix="oai_dc" from="2022-03-01T00:00:00Z"
        until="2022-03-01T00:00:00Z">https://dspace.mit.edu//oai/request</request><ListIdentifiers><header><identifier>oai:dspace.mit.edu:1721.1/140805</identifier><datestamp>2022-03-01T03:33:00Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/135829.2</identifier><datestamp>2022-03-01T23:28:08Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/140854.2</identifier><datestamp>2022-03-01T18:42:35Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/140823</identifier><datestamp>2022-03-01T03:19:03Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/138472</identifier><datestamp>2022-03-01T03:48:19Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/140800</identifier><datestamp>2022-03-01T03:01:03Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header></ListIdentifiers></OAI-PMH>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F140805&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-08-21T17:16:23Z</responseDate><request
        verb=\"GetRecord\" identifier=\"oai:dspace.mit.edu:1721.1/140805\" metadataPrefix=\"oai_dc\">https://dspace.mit.edu//oai/request</request><GetRecord><record><header><identifier>oai:dspace.mit.edu:1721.1/140805</identifier><datestamp>2022-03-01T03:33:00Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \  <dc:title>Structure, Ferroelectricity, and Magnetism in Self\u2010Assembled
        BiFeO            3            \u2013CoFe            2            O            4
        \           Nanocomposites on (110)\u2010LaAlO            3            Substrates</dc:title>\n
        \  <dc:creator>Tian, Guo</dc:creator>\n   <dc:creator>Ojha, Shuchi</dc:creator>\n
        \  <dc:creator>Ning, Shuai</dc:creator>\n   <dc:creator>Gao, Xingsen</dc:creator>\n
        \  <dc:creator>Ross, Caroline A.</dc:creator>\n   <dc:date>2022-02-28T16:20:29Z</dc:date>\n
        \  <dc:date>2022-02-28T16:20:29Z</dc:date>\n   <dc:date>2019-05-06</dc:date>\n
        \  <dc:type>Article</dc:type>\n   <dc:type>http://purl.org/eprint/type/JournalArticle</dc:type>\n
        \  <dc:identifier>2199-160X</dc:identifier>\n   <dc:identifier>2199-160X</dc:identifier>\n
        \  <dc:identifier>https://hdl.handle.net/1721.1/140805</dc:identifier>\n   <dc:identifier>Tian,
        Guo, Ojha, Shuchi, Ning, Shuai, Gao, Xingsen and Ross, Caroline A. 2019. \"Structure,
        Ferroelectricity, and Magnetism in Self\u2010Assembled BiFeO            3
        \           \u2013CoFe            2            O            4            Nanocomposites
        on (110)\u2010LaAlO            3            Substrates.\" Advanced Electronic
        Materials, 5 (7).</dc:identifier>\n   <dc:language>en</dc:language>\n   <dc:relation>http://dx.doi.org/10.1002/aelm.201900012</dc:relation>\n
        \  <dc:relation>Advanced Electronic Materials</dc:relation>\n   <dc:rights>Creative
        Commons Attribution-Noncommercial-Share Alike</dc:rights>\n   <dc:rights>http://creativecommons.org/licenses/by-nc-sa/4.0/</dc:rights>\n
        \  <dc:format>application/pdf</dc:format>\n   <dc:publisher>Wiley</dc:publisher>\n
        \  <dc:source>Wiley</dc:source>\n</oai_dc:dc></metadata></record></GetRecord></OAI-PMH>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F135829.2&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchive[...]
[...]
