interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?metadataPrefix=oai_dc&from=2017-12-14&until=2019-04-05&verb=ListIdentifiers
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-06-03T19:51:04Z</responseDate><request
        verb="ListIdentifiers" metadataPrefix="oai_dc" from="2017-12-14T00:00:00Z"
        until="2019-04-05T00:00:00Z">https://dspace.mit.edu//oai/request</request><ListIdentifiers><header
        status="deleted"><identifier>oai:dspace.mit.edu:1721.1/97638</identifier><datestamp>2018-08-15T12:50:35Z</datestamp><setSpec>com_1721.1_97458</setSpec><setSpec>hdl_1721.1_97458</setSpec><setSpec>col_1721.1_97459</setSpec><setSpec>hdl_1721.1_97459</setSpec></header><header
        status="deleted"><identifier>oai:dspace.mit.edu:1721.1/97639</identifier><datestamp>2018-08-15T12:50:13Z</datestamp><setSpec>com_1721.1_97458</setSpec><setSpec>hdl_1721.1_97458</setSpec><setSpec>col_1721.1_97459</setSpec><setSpec>hdl_1721.1_97459</setSpec></header><header
        status="deleted"><identifier>oai:dspace.mit.edu:1721.1/97633</identifier><datestamp>2018-08-15T12:51:24Z</datestamp><setSpec>com_1721.1_97458</setSpec><setSpec>hdl_1721.1_97458</setSpec><setSpec>col_1721.1_97459</setSpec><setSpec>hdl_1721.1_97459</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/115850</identifier><datestamp>2019-04-05T14:42:21Z</datestamp><setSpec>com_1721.1_114958</setSpec><setSpec>hdl_1721.1_114958</setSpec><setSpec>com_1721.1_7507</setSpec><setSpec>hdl_1721.1_7507</setSpec><setSpec>col_1721.1_114983</setSpec><setSpec>hdl_1721.1_114983</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/41945</identifier><datestamp>2019-04-05T16:19:02Z</datestamp><setSpec>com_1721.1_29806</setSpec><setSpec>hdl_1721.1_29806</setSpec><s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F41945&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-06-03T19:51:04Z</responseDate><request
        verb=\"GetRecord\" identifier=\"oai:dspace.mit.edu:1721.1/41945\" metadataPrefix=\"oai_dc\">https://dspace.mit.edu//oai/request</request><GetRecord><record><header><identifier>oai:dspace.mit.edu:1721.1/41945</identifier><datestamp>2019-04-05T16:19:02Z</datestamp><setSpec>com_1721.1_29806</setSpec><setSpec>hdl_1721.1_29806</setSpec><setSpec>com_1721.1_5458</setSpec><setSpec>hdl_1721.1_5458</setSpec><setSpec>col_1721.1_29808</setSpec><setSpec>hdl_1721.1_29808</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \  <dc:title>Style Translation for Human Motion</dc:title>\n   <dc:creator>Hsu,
        Eugene</dc:creator>\n   <dc:creator>Pulli, Kari</dc:creator>\n   <dc:creator>Popovic,
        Jovan</dc:creator>\n   <dc:contributor>Jovan Popovic</dc:contributor>\n   <dc:contributor>Computer
        Graphics</dc:contributor>\n   <dc:description>Style translation is the process
        of transforming an input motion into a new style while preserving its original
        content. This problem is motivated by the needs of interactive applications,
        which require rapid processing of captured performances. Our solution learns
        to translate by analyzing differences between performances of the same content
        in input and output styles. It relies on a novel correspondence algorithm
        to align motions, and a linear time-invariant model to represent stylistic
        differences. Once the model is estimated with system identification, our system
        is capable of translating streaming input with simple linear operations at
        each frame.</dc:description>\n   <dc:date>2008-08-25T19:00:49Z</dc:date>\n
        \  <dc:date>2008-08-25T19:00:49Z</dc:date>\n   <dc:date>2005-08-01</dc:date>\n
        \  <dc:identifier>http://hdl.handle.net/1721.1/41945</dc:identifier>\n   <dc:identifier>ACM
        Transactions on Graphics, 24(3):1082-1089, August 2005.</dc:identifier>\n
        \  <dc:relation>Massachusetts Institute of Technology Computer Science and
        Artificial Intelligence Laboratory</dc:relation>\n   <dc:format>N/A</dc:format>\n
        \  <dc:format>application/octet-stream</dc:format>\n</oai_dc:dc></metadata></record></GetRecord></OAI-PMH>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
