interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?metadataPrefix=oai_dc&from=2022-01-01&until=2022-01-10&set=hdl_1721.1_49432&verb=ListIdentifiers
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-06-03T19:51:10Z</responseDate><request
        verb="ListIdentifiers" metadataPrefix="oai_dc" from="2022-01-01T00:00:00Z"
        until="2022-01-10T00:00:00Z" set="hdl_1721.1_49432">https://dspace.mit.edu//oai/request</request><ListIdentifiers><header><identifier>oai:dspace.mit.edu:1721.1/138016.2</identifier><datestamp>2022-01-07T19:29:43Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/138860.2</identifier><datestamp>2022-01-10T20:50:35Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/137502.2</identifier><datestamp>2022-01-07T15:33:41Z</d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?resumptionToken=oai_dc%2F2022-01-01T00%3A00%3A00Z%2F2022-01-10T00%3A00%3A00Z%2Fhdl_1721.1_49432%2F100&verb=ListIdentifiers
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="ht[...]
