interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?verb=ListSets
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-06-03T19:51:07Z</responseDate><request
        verb=\"ListSets\">https://dspace.mit.edu//oai/request</request><ListSets><set><setSpec>com_1721.1_155103</setSpec><setName>01.
        The Organizational Ombud's Role: Functions, Standards of Practice, and Effectiveness
        and Value</setName></set><set><setSpec>hdl_1721.1_155103</setSpec><setName>01.
        The Organizational Ombud's Role: Functions, Standards of Practice, and Effectiveness
        and Value</setName></set><set><setSpec>com_1721.1_155108</setSpec><setName>02.
        Ombuds Case Material, Stories, and Teaching Notes</setName></set><set><setSpec>hdl_1721.1_155108</setSpec><setName>02.
        O[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?resumptionToken=%2F%2F%2F%2F100&verb=ListSets
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.[...]
[...]
