interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?metadataPrefix=oai_dc&set=com_1721.1_140587&verb=ListRecords
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-06-03T19:51:07Z</responseDate><request
        verb=\"ListRecords\" metadataPrefix=\"oai_dc\" set=\"com_1721.1_140587\">https://dspace.mit.edu//oai/request</request><ListRecords><record><header><identifier>oai:dspace.mit.edu:1721.1/140717</identifier><datestamp>2022-02-24T20:08:43Z</datestamp><setSpec>com_1721.1_140587</setSpec><setSpec>hdl_1721.1_140587</setSpec><setSpec>col_1721.1_140682</setSpec><setSpec>hdl_1721.1_140682</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \  <dc:title>Doubles</dc:title>\n   <dc:creator>Brody, Martin</dc:creator>\n
        \  <dc:subject>Experimental Music Studio</dc:subject>\n   <dc:description>This
        is now the only master of Doubles with reverb (2 exist without any reverb).
        Cut 2 of 2, wet, msp</dc:description>\n   <dc:date>2022-02-24T20:08:20Z</dc:date>\n
        \  <dc:date>2022-02-24T20:08:20Z</dc:date>\n   <dc:date>1984-10</dc:date>\n
        \  <dc:identifier>https://hdl.handle.net/1721.1/140717</dc:identifier>\n   <dc:relation>MIT
        Experimental Music Studio recordings</dc:relation>\n   <dc:rights>These materials
        are made available for use in research, teaching and private study, pursuant
        to U.S. Copyright Law and the Music Modernization Act. The user must assume
        full responsibility for any use of the materials, including but not limited
        to, infringement of copyright and publication rights of reproduced materials.
        Any materials used for academic research or otherwise should be fully credited
        with the source. The original creators may retain copyright to the materials.</dc:rights>\n
        \  <dc:format>audio/x-wav</dc:format>\n</oai_dc:dc></metadata></record><record><header><identifier>oai:dspace.mit.edu:1721.1/140745</identifier><datestamp>2022-02-24T20:48:22Z</datestamp><setSpec>com_1721.1_140587</setSpec><setSpec>hdl_1721.1_140587</setSpec><setSpec>col_1721.1_140682</setSpec><setSpec>hdl_1721.1_140682</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/[...]
