interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?metadataPrefix=oai_dc&from=2021-11-09T03%3A30%3A00Z&until=2021-11-09T04%3A00%3A00Z&verb=ListIdentifiers
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-06-03T19:51:11Z</responseDate><request
        verb="ListIdentifiers" metadataPrefix="oai_dc" from="2021-11-09T03:30:00Z"
        until="2021-11-09T04:00:00Z">https://dspace.mit.edu//oai/request</request><ListIdentifiers><header><identifier>oai:dspace.mit.edu:1721.1/137646</identifier><datestamp>2021-11-09T03:44:19Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/137627</identifier><datestamp>2021-11-09T03:43:43Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/137807</identifier><datestamp>2021-11-09T03:43:07Z</dates[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F137646&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-06-03T19:51:12Z</responseDate><request
        verb=\"GetRecord\" identifier=\"oai:dspace.mit.edu:1721.1/137646\" metadataPrefix=\"oai_dc\">https://dspace.mit.edu//oai/request</request><GetRecord><record><header><identifier>oai:dspace.mit.edu:1721.1/137646</identifier><datestamp>2021-11-09T03:44:19Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \  <dc:title>Top quark mass calibration for Monte-Carlo event generators</dc:title>\n
        \  <dc:creator>Hoang, Andre</dc:creator>\n   <dc:creator>Butenschoen, Mathias</dc:creator>\n
        \  <dc:creator>Dehnadi, Bahmand</dc:creator>\n   <dc:creator>Mateu, Vicent</dc:creator>\n
        \  <dc:creator>Preisser, Moritz</dc:creator>\n   <dc:creator>Stewart, Iain
        W.</dc:creator>\n   <dc:description>The most precise top quark mass measurements
        use kinematic reconstruction methods, determining the top mass parameter of
        a Monte Carlo event generator, mMCt. Due to the complicated interplay of hadronization
        and parton shower dynamics in Monte Carlo event generators, relating mMCt
        to field theory masses is a non-trivial task. In this talk we present a calibration
        procedure to determine this relation using hadron level QCD predictions for
        2-Jettiness in e+e- annihilation, an observable which has kinematic top mass
        sensitivity and has a close relation to the invariant mass of the particles
        coming from the top decay. The theoretical ingredients of the QCD prediction
        are explained. Fitting e+e- 2-Jettiness calculations at NLL/NNLL order to
        PYTHIA 8.205, we find that mMCt agrees with the MSR mass at the scale 1 GeV
        within uncertainties, mMCt mMSRt;1GeV, but differs from the pole mass by 900/600MeV.</dc:description>\n
        \  <dc:date>2021-11-08T13:17:36Z</dc:date>\n   <dc:date>2021-11-08T13:17:36Z</dc:date>\n
        \  <dc:date>2016-11-09</dc:date>\n   <dc:date>2019-06-03T20:27:56Z</dc:date>\n
        \  <dc:type>Article</dc:type>\n   <dc:type>http://purl.org/eprint/type/ConferencePaper</dc:type>\n
        \  <dc:identifier>https://hdl.handle.net/1721.1/137646</dc:identifier>\n   <dc:identifier>Hoang,
        Andre, Butenschoen, Mathias, Dehnadi, Bahmand, Mateu, Vicent, Preisser, Moritz
        et al. 2016. \"Top quark mass calibration for Monte-Carlo event generators.\"</dc:identifier>\n
        \  <dc:language>en</dc:language>\n   <dc:relation>10.22323/1.265.0153</dc:relation>\n
        \  <dc:rights>Creative Commons Attribution-NonCommercial-NoDerivs License</dc:rights>\n
        \  <dc:rights>http://creativecommons.org/licenses/by-nc-nd/4.0/</dc:rights>\n
        \  <dc:format>application/pdf</dc:format>\n   <dc:publisher>Sissa Medialab</dc:publisher>\n
        \  <dc:source>Proceedings of Science</dc:source>\n</oai_dc:dc></metadata></record></GetRecord></OAI-PMH>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
