interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?metadataPrefix=oai_dc&from=2022-03-01&until=2022-03-01&verb=ListIdentifiers
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="static/style.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-06-03T19:51:17Z</responseDate><request
        verb="ListIdentifiers" metadataPrefix="oai_dc" from="2022-03-01T00:00:00Z"
        until="2022-03-01T00:00:00Z">https://dspace.mit.edu//oai/request</request><ListIdentifiers><header><identifier>oai:dspace.mit.edu:1721.1/140856.2</identifier><datestamp>2022-03-01T18:31:58Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/140838.2</identifier><datestamp>2022-03-01T18:34:53Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><header><identifier>oai:dspace.mit.edu:1721.1/140861.2</identifier><datestamp>2022-03-01T18:58:57Z</d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F140856.2&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2024-06-03T19:51:17Z</responseDate><request
        verb=\"GetRecord\" identifier=\"oai:dspace.mit.edu:1721.1/140856.2\" metadataPrefix=\"oai_dc\">https://dspace.mit.edu//oai/request</request><GetRecord><record><header><identifier>oai:dspace.mit.edu:1721.1/140856.2</identifier><datestamp>2022-03-01T18:31:58Z</datestamp><setSpec>com_1721.1_49432</setSpec><setSpec>hdl_1721.1_49432</setSpec><setSpec>col_1721.1_49433</setSpec><setSpec>hdl_1721.1_49433</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \  <dc:title>Sensortechnologien durch neuartige Materialien und Molek\xFCle</dc:title>\n
        \  <dc:creator>Swager, Timothy M.</dc:creator>\n   <dc:date>2022-03-01T18:31:57Z</dc:date>\n
        \  <dc:date>2022-03-01T16:39:07Z</dc:date>\n   <dc:date>2022-03-01T18:31:57Z</dc:date>\n
        \  <dc:date>2018-02</dc:date>\n   <dc:date>2017-11</dc:date>\n   <dc:type>Article</dc:type>\n
        \  <dc:type>http://purl.org/eprint/type/JournalArticle</dc:type>\n   <dc:identifier>0044-8249</dc:identifier>\n
        \  <dc:identifier>https://hdl.handle.net/1721.1/140856.2</dc:identifier>\n
        \  <dc:identifier>Swager, Timothy M. 2018. \"Sensortechnologien durch neuartige
        Materialien und Molek\xFCle.\" Angewandte Chemie, 130 (16).</dc:identifier>\n
        \  <dc:language>en</dc:language>\n   <dc:relation>http://dx.doi.org/10.1002/ange.201711611</dc:relation>\n
        \  <dc:relation>Angewandte Chemie</dc:relation>\n   <dc:rights>Creative Commons
        Attribution-Noncommercial-Share Alike</dc:rights>\n   <dc:rights>http://creativecommons.org/licenses/by-nc-sa/4.0/</dc:rights>\n
        \  <dc:format>application/octet-stream</dc:format>\n   <dc:publisher>Wiley</dc:publisher>\n
        \  <dc:source>Wiley</dc:source>\n</oai_dc:dc></metadata></record></GetRecord></OAI-PMH>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dspace.mit.edu/oai/request?identifier=oai%3Adspace.mit.edu%3A1721.1%2F140805&metadataPrefix=oai_dc&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.[...]
[...]
